Source: flatcam
Section: electronics
Priority: optional
Maintainer: Debian Electronics Team <pkg-electronics-devel@lists.alioth.debian.org>
Uploaders:
 Carsten Schoenert <c.schoenert@t-online.de>,
Build-Depends:
 debhelper (>= 10.2.2~),
 dh-exec,
 dh-python,
 python,
 python-sphinx,
Standards-Version: 3.9.8

Package: flatcam
Architecture: all
Multi-Arch: foreign
Depends:
 libfreetype6,
 libfreetype6-dev,
 libgeos-dev,
 libpng-dev,
 python-dev,
 python-matplotlib (>= 1.3.1),
 python-numpy (>= 1.8),
 python-qt4,
 python-rtree,
 python-scipy,
 python-shapely,
 python-simplejson,
 python-svg.path,
 ${misc:Depends},
 ${python:Depends},
Description: 2D Computer-Aided PCB Manufacturing on a CNC router
 FlatCAM is a program for preparing CNC jobs to create prototyps of PCBs on a
 CNC router. You can open Gerber, Excellon or G-Code, edit it or create files
 from scratch, and output G-Code. Isolation routing is one of many tasks that
 FlatCAM is perfect for.
 .
 FlatCAM comes with a Tcl Shell interface to automate steps.

Package: flatcam-doc
Architecture: all
Multi-Arch: foreign
Section: doc
Depends:
 fonts-font-awesome,
 libjs-jquery,
 libjs-modernizr,
 libjs-underscore,
 ${misc:Depends},
Recommends:
 flatcam (>= ${source:Version}),
 www-browser,
Description: 2D Computer-Aided PCB Manufacturing on a CNC router - documentation
 FlatCAM is a program for preparing CNC jobs to create prototyps of PCBs on a
 CNC router. You can open Gerber, Excellon or G-Code, edit it or create files
 from scratch, and output G-Code. Isolation routing is one of many tasks that
 FlatCAM is perfect for.
 .
 FlatCAM comes with a Tcl Shell interface to automate steps.
 .
 This package contain the Sphinx based documentation for FlatCAM.
